<!-- Toast.razor -->
<div class="toast @(Visible ? "show" : "") @GetToastClass()">
    @Message
</div>

@code {
    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public ToastLevel Level { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    private string GetToastClass()
    {
        return $"toast-{Level.ToString().ToLower()}";
    }

    public enum ToastLevel
    {
        Info,
        Success,
        Warning,
        Error
    }
}
