@page "/add-today-inventory-item"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode InteractiveServer
<style>
    h6 {
        background-color: #D6EEEE;
        margin: 0 auto; /* Adjust as needed */
    }
    .button-container {
        display: flex;
        justify-content: center;
    }
    .generate-invoice-button {
        background-color: #D6EEEE; /* Green */
        border: none;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .generate-invoice-button:hover {
        background-color: #45a049; /* Darker Green */
    }
</style>

<PageTitle>Add New Inventory Item</PageTitle>
<div class="button-container"><pre>
<h1>Enter Product Details</h1>
<Toast Message="Error has occured. Check fields properly" Level="Toast.ToastLevel.Warning" Visible="IsFToastVisible" />
<Toast Message="Added Customer!" Level="Toast.ToastLevel.Success" Visible="IsSToastVisible" />
<form>
  <label>ProductID:</label><br>
  <input type="text" @bind="id" id="fname" name="fname"><br>
  <label>Quantity:</label><br>
  <input type="text" @bind="Sqty" id="address" name="address"><br><br>
</form>
<button class="generate-invoice-button" @onclick="NavigateToRoute">Back</button>    <button class="generate-invoice-button" @onclick="AddNewItem">Add Procured Item</button>
</pre></div>
@code {
    private bool IsSToastVisible { get; set; } = false;
    private bool IsFToastVisible { get; set; } = false;
    private void ShowFToast()
    {
        IsFToastVisible = true;
        // Optionally, set a timeout to hide the toast after a certain duration
        Task.Delay(3000).ContinueWith(_ => IsFToastVisible = false);
    }
    private void ShowToast()
    {
        IsSToastVisible = true;
        // Optionally, set a timeout to hide the toast after a certain duration
        Task.Delay(3000).ContinueWith(_ => IsSToastVisible = false);
    }
    private ulong id;
    private int Sqty;
    private void NavigateToRoute()
    {
        NavigationManager.NavigateTo("/inflow");
    }

    private async Task AddNewItem()
    {
        if (id <= 0 || Sqty <= 0){
            ShowFToast();
        }
        else{
            if (id > 0 && Sqty > 0){
                Product cust = new Product();
                cust.Id = id;
                cust.qty = Sqty;
                Console.WriteLine(cust.Id + " " + cust.qty);
                string res = "";
                HttpResponseMessage response = await httpClient.PostAsJsonAsync<string>($"http://localhost:5038/inflow/{id}/{Sqty}", res);
                if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
                    ShowFToast();
                else{
                    ShowToast();
                    NavigateToRoute();
                }
            }
        }
    }

    public class Product
    {
        public ulong Id { get; set; }
        public int qty { get; set; }
    }
}
